In [1]:
import opendatasets as od
od.download("https://www.kaggle.com/datasets/vishweshsalodkar/customer-feedback-dataset")
import pandas as pd

Skipping, found downloaded files in "./customer-feedback-dataset" (use force=True to force download)

In [2]:
file = r"/home/namankarki/Naman/3_months_of_data-science/Deep_Learning_Pytorch/nlp/customer-feedback-dataset/sentiment-analysis.csv"
df = pd.read_csv(file)
df.head()

  Text, Sentiment, Source, Date/Time, User ID, Location, Confidence Score
0  "I love this product!", Positive, Twitter, 202...
1  "The service was terrible.", Negative, Yelp Re...
2  "This movie is amazing!", Positive, IMDb, 2023...
3  "I'm so disappointed with their customer suppo...
4  "Just had the best meal of my life!", Positive...

In [3]:
text=df['Text, Sentiment, Source, Date/Time, User ID, Location, Confidence Score'][5]

In [4]:
import re

In [5]:
print(text)

"The quality of this product is subpar.", Negative, Amazon Reviews, 2023-06-16 10:15:27, shopper123, San Francisco, 0.72

In [6]:
text = text.lower()
text = re.sub(r"[^\w\s]","",text)
print(text)

the quality of this product is subpar negative amazon reviews 20230616 101527 shopper123 san francisco 072

In [7]:
curpos1 = """
Paragraph 1:
Alice went to the Wonderland to explore the mysterious garden. She saw strange creatures and colorful flowers. "Hello," said a white rabbit, "come with me!" Alice followed the rabbit curiously.

Paragraph 2:
In the deep forest, Bob found an ancient book lying under a tree. The book had golden letters on the cover. "Do not open this," warned a voice from above. Ignoring the warning, Bob slowly opened the book.

Paragraph 3:
Catherine enjoys painting in the morning. Her favorite subjects are sunsets, mountains, and rivers. "Art is my escape," she whispered. Sometimes she listens to music, sometimes she enjoys silence while painting.

"""

In [8]:
greedy_capture = re.findall(r"Paragraph 2:.*?", curpos1)
print(greedy_capture)

['Paragraph 2:']

In [9]:
corpus2= """
<p>Alice went to the Wonderland to explore the mysterious garden. 
She saw strange creatures and colorful flowers. 
<span class="dialogue">"Hello," said a white rabbit, "come with me!"</span> 
Alice followed the rabbit curiously.
</p>
"""
text = re.sub(r"<.*?>", "", corpus2)
print(text)

Alice went to the Wonderland to explore the mysterious garden.
She saw strange creatures and colorful flowers.
"Hello," said a white rabbit, "come with me!"
Alice followed the rabbit curiously.

In [10]:
corpus3="""Alice went to Wonderland to explore the mysterious garden. 
She found some interesting articles online: https://example.com/wonderland and http://blog.example.org/magic. 
Alice also shared her findings on social media at www.socialmedia.com/alice.
"""

text = re.sub(r"(https?://\S+|www\.\S+)", "", text)

print(text)

Alice went to the Wonderland to explore the mysterious garden.
She saw strange creatures and colorful flowers.
"Hello," said a white rabbit, "come with me!"
Alice followed the rabbit curiously.

In [14]:
import string
translator = str.maketrans(" ", " ", string.punctuation)
clean_text = text.translate(translator)
print(clean_text)

Alice went to the Wonderland to explore the mysterious garden
She saw strange creatures and colorful flowers
Hello said a white rabbit come with me
Alice followed the rabbit curiously